body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
.main-cover {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.about-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.portfolio-cover {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}
/* links */
a {
  text-decoration: none;
  color: currentColor;
}
.logo:hover {
  color: #404bbf;
}
.logo:focus {
  color: #404bbf;
}
.logo:active {
  color: #404bbf;
  text-decoration: underline;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
  text-decoration: none;
}
.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.adress-link:hover {
  color: #404bbf;
}
.adress-link:focus {
  color: #404bbf;
}
.adress-link:active {
  color: #404bbf;
  text-decoration: none;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.order {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.business {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.footer {
  background-color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-studio-head {
  color: #2e2f42;
}
.logo-studio-head:hover {
  color: #404bbf;
}
.logo-studio-head:focus {
  color: #404bbf;
}
.logo-studio-head:active {
  color: #404bbf;
  text-decoration: underline;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
  display: block;
}
.current {
  position: relative;
  color: #404bbf;
}
.contacts-adress {
  font-style: normal;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* lesson 3 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
/* header */
.navigation {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu {
  display: flex;
  align-items: center;
}
.container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.adress-list {
  display: flex;
  gap: 40px;
}
/* button */
.business {
  padding-top: 188px;
  padding-bottom: 188px;
}
.business-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
/* about company */
.company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.order-company {
  display: flex;
  gap: 24px;
}
.list-company {
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 224px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-order {
  display: flex;
  gap: 24px;
}
.order {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 428px;
}
.person {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Portfolio */
.portfolio-header {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-order {
  width: calc((100% - 48px) / 3);
  width: 360px;
  height: 420px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer:hover {
  color: #404bbf;
}
.logo-footer:focus {
  color: #404bbf;
}
.logo-footer:active {
  color: #404bbf;
  text-decoration: underline;
}
/* lesson 4 */
.about-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  border-radius: 4px;
  fill: #2a2a2a;
}
.team-svg {
  height: 40px;
  width: 232px;
}
.person-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.order-svg {
  width: 40px;
  height: 40px;
}
.link-team-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team-social:hover {
  background-color: #404bbf;
}
.link-team-social:focus {
  background-color: #404bbf;
}
.social-svg {
  fill: #f4f4fd;
}
.order-list-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.list-app {
  position: relative;
  overflow: hidden;
}

.list-app-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* hover */
.portfolio-list-order:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-app:hover .list-app-text {
  transform: translateY(0%);
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.container-logo {
  margin-right: 120px;
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.list-social {
  display: flex;
  gap: 16px;
}
.order-list-social {
  width: 40px;
  height: 40px;
}
.link-footer-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer-social:hover {
  background-color: #31d0aa;
}
.link-footer-social:focus {
  background-color: #31d0aa;
}
.social-footer-svg {
  fill: #f4f4fd;
}
